Repository pymc-labs/pymc-marketing, pull requests merged in 2023-05, with the labels that each got.

#261 Add PyMC Marketing logo to the repository and documentation
  README.md
  docs/source/_static/labs-logo-dark.png
  docs/source/_static/labs-logo-light.png
  docs/source/_static/marketing-logo-dark.jpg
  docs/source/_static/marketing-logo-light.jpg
  docs/source/conf.py
  docs/source/index.md
Labels: docs

#262 fix wrong filename for logo in README
  README.md
Labels: docs, no releasenotes

#270 Bump version
  pymc_marketing/version.txt
Labels: no releasenotes
