Repository pymc-labs/pymc-marketing, pull requests merged in 2023-08, with the labels that each got.

#340 updating MMM and CLV api in index
  docs/source/index.md
Labels: docs, no releasenotes

#349 Change contact information for consultation calls
  README.md
  docs/source/index.md
Labels: no releasenotes

#344 Add optional `ax` argument to CLV plot utilities
  pymc_marketing/clv/plotting.py
Labels: enhancement, CLV

#351 Support np.ndarray in model_config
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: enhancement

#338 Unpin PyMC
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, no releasenotes
