Repository pymc-labs/pymc-marketing, pull requests merged in 2023-03, with the labels that each got.

#181 Update Makefile
  Makefile
Labels: no releasenotes

#192 Remove unnecessary dependency on pymc test util
  tests/clv/test_distributions.py
Labels: no releasenotes, tests

#194 Remove old repo name from build badge
  README.md
Labels: docs, no releasenotes

#198 Rename `fitting_method` to `fit_method`
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/gamma_gamma.ipynb
  pymc_marketing/clv/models/basic.py
  tests/clv/models/test_basic.py
Labels: maintenance

#197 Speedup BetaGeoModel tests
  tests/clv/models/test_beta_geo.py
Labels: no releasenotes, tests

#199 Make docs footer smaller and more responsive
  docs/source/_static/custom.css
  docs/source/_templates/footer-links.html
  docs/source/conf.py
Labels: docs

#184 Use numerically stable logp for BG/NBD
  .gitignore
  codecov.yml
  docs/source/notebooks/clv/bg_nbd.ipynb
  pymc_marketing/clv/models/beta_geo.py
  tests/clv/models/test_beta_geo.py
Labels: enhancement, CLV

#208 update README
  README.md
Labels: no releasenotes

#207 fix problem in makefile + move CONTRIBUTING.md to root
  CONTRIBUTING.md
  Makefile
Labels: docs, no releasenotes

#223 adds sample datasets for MMM and CLV quickstart examples
  datasets/clv_quickstart.csv
  datasets/mmm_example.csv
Labels: docs

#224 Install instructions added to README and docs. Quickstart added to docs
  README.md
  docs/source/index.md
Labels: docs
