Repository pymc-labs/pymc-marketing, pull requests merged in 2023-02, with the labels that each got.

#145 Fix configuration in release.yml
  .github/release.yml
Labels: maintenance, no releasenotes

#147 Fix PyPI release workflow and test on pull/push
  .github/workflows/ci.yml
  .github/workflows/pipy.yml
Labels: maintenance, no releasenotes

#148 Add extra index url in pypi.yml
  .github/workflows/pypi.yml
Labels: maintenance, no releasenotes

#149 Bump version number
  .github/workflows/pypi.yml
  pymc_marketing/version.py
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#152 Correct docs header for notebooks
  docs/source/notebooks/index.md
Labels: docs, maintenance, no releasenotes

#153 Add codecov
  .github/workflows/ci.yml
  pyproject.toml
Labels: enhancement, no releasenotes, tests

#157 Add status badges and codecov.yml
  README.md
  codecov.yml
Labels: no releasenotes

#158 Update README: add notebook example links
  README.md
Labels: docs

#161 Bump version number
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#160 Include CLV Quickstart in Readme
  README.md
Labels: maintenance, no releasenotes

#173 Fix bug in MMM prior predictive sampling
  pymc_marketing/mmm/base.py
Labels: bug, MMM

#174 Fix inconsistent control coordinate
  pymc_marketing/mmm/delayed_saturated_mmm.py
Labels: bug, MMM

#179 Relax matplotlib dependency
  pyproject.toml
Labels: maintenance
