Repository pymc-labs/pymc-marketing, pull requests merged in 2023-04, with the labels that each got.

#227 Use MaxAbsScaler instead of MinMaxScaler for Target MMM
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/preprocessing.py
  tests/mmm/test_base.py
  tests/mmm/test_preprocessing.py
Labels: MMM

#221 Implement vectorized adstock transformations
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM

#235 Test oldest pymc version
  .github/workflows/ci.yml
  pyproject.toml
Labels: no releasenotes, tests
