Repository pymc-labs/pymc-marketing, pull requests merged in 2023-11, with the labels that each got.

#345 Add CLV plot of customer exposure
  docs/source/notebooks/clv/clv_quickstart.ipynb
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/plotting.py
  tests/clv/test_plotting.py
Labels: enhancement, CLV

#401 Add posterior population sampling methods to `ParetoNBD`
  docs/source/notebooks/clv/dev/pareto_nbd.ipynb
  pymc_marketing/clv/models/pareto_nbd.py
  tests/clv/models/test_pareto_nbd.py
Labels: enhancement, CLV, maintenance

#416 Fix typo in MMM Readme
  README.md
Labels: docs, MMM

#424 Adopt Ruff linter and formatter
  .pre-commit-config.yaml
  README.md
  pymc_marketing/__init__.py
  pymc_marketing/clv/distributions.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/budget_optimizer.py
  pyproject.toml
  tests/clv/models/test_basic.py
  tests/clv/models/test_pareto_nbd.py
  tests/mmm/test_base.py
Labels: maintenance, no releasenotes

#427 Add Ruff badge
  README.md
Labels: maintenance, no releasenotes

#438 Makefile to include ruff
  Makefile
Labels: no releasenotes
