Repository pymc-labs/pymc-marketing, pull requests merged in 2023-10, with the labels that each got.

#359 Add bolt's journey with pymc-marketing
  docs/source/guide/mmm/resources.md
  docs/source/index.md
Labels: docs, MMM

#380 Tiny corrections to documentation of gamma_gamma and pareto_nbd.
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/pareto_nbd.py
Labels: docs, CLV, maintenance

#399 Handle mixed fitting sizes in customer_lifetime_value
  pymc_marketing/clv/utils.py
  tests/clv/test_utils.py
Labels: enhancement, CLV
