Repository pymc-labs/pymc-marketing, pull requests merged in 2024-03, with the labels that each got.

#558 make BetaGeoModel docstring example work
  pymc_marketing/clv/models/beta_geo.py
Labels: docs, CLV

#563 Fix repr error when CLVModel is not yet built
  pymc_marketing/clv/models/basic.py
  tests/clv/models/test_basic.py
Labels: bug, CLV, model builder

#574 Move watermark in environment.yml
  environment.yml
Labels: maintenance, no releasenotes

#581 Add random seed to MMM fixtures
  tests/mmm/test_delayed_saturated_mmm.py
Labels: enhancement, maintenance, no releasenotes

#579 Add other nuts samplers example notebook
  docs/source/guide/clv/clv_intro.md
  docs/source/notebooks/general/other_nuts_samplers.ipynb
  docs/source/notebooks/index.md
Labels: docs, enhancement

#589 Fix bug in predictive methods of ParetoNBD model with covariates
  pymc_marketing/clv/models/pareto_nbd.py
  tests/clv/models/test_pareto_nbd.py
Labels: bug, CLV

#572 Add `rfm_train_test_split` Utility Function
  docs/source/notebooks/clv/dev/utilities_plotting.ipynb
  pymc_marketing/clv/utils.py
  tests/clv/test_utils.py
Labels: enhancement, CLV

#541 Moving michaelis menten function to transformers module
  .pre-commit-config.yaml
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/mmm/utils.py
  tests/mmm/test_transformers.py
  tests/mmm/test_utils.py
Labels: maintenance, no releasenotes
