Repository pymc-labs/pymc-marketing, pull requests merged in 2024-12, with the labels that each got.

#1249 Raise error when two dims are not compatible
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: bug, tests, Prior class

#1253 Include tvp scaling in contribution grid
  pymc_marketing/mmm/mmm.py
  tests/mmm/test_mmm.py
Labels: bug, enhancement, MMM, tests, TVPs

#1254 fix typo and change first lines mood
  pymc_marketing/mmm/components/base.py
Labels: docs, MMM

#1246 HSGP as component
  pymc_marketing/hsgp_kwargs.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/mmm/linear_trend.py
  pymc_marketing/mmm/plot.py
  pymc_marketing/mmm/tvp.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/plot.py
  pymc_marketing/prior.py
  tests/mmm/test_hsgp.py
  tests/mmm/test_plot.py
  tests/mmm/test_tvp.py
  tests/mmm/test_utils.py
  tests/test_plot.py
  tests/test_prior.py
Labels: docs, enhancement, MMM, maintenance, tests, plots, Prior class, TVPs

#1274 Remove duplicated pre-commit CI/CD
  .github/workflows/ci.yml
Labels: maintenance, no releasenotes

#1272 1271 predictions=true for sample posterior predictive throws error
  pymc_marketing/mmm/mmm.py
  tests/mmm/test_mmm.py
Labels: bug, MMM, tests

#1265 Link sBG Notebook in README and Index
  README.md
  docs/source/index.md
Labels: docs, CLV

#1275 Break test suite into smaller sections
  .github/workflows/test.yml
Labels: maintenance, no releasenotes, tests

#1278 Update README.md (fix badges)
  README.md
Labels: docs

#1283 add human readable time difference
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: no releasenotes

#1266 Add Gradient-Free Fit Method to CLV Models
  docs/source/notebooks/clv/pareto_nbd.ipynb
  docs/source/notebooks/mmm/dag
  docs/source/notebooks/mmm/dag.png
  docs/source/uml/classes_clv.png
  docs/source/uml/classes_mmm.png
  docs/source/uml/packages_clv.png
  docs/source/uml/packages_mmm.png
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/pareto_nbd.py
  tests/clv/models/test_basic.py
  tests/clv/models/test_pareto_nbd.py
Labels: docs, enhancement, good first issue, CLV, MMM, maintenance, tests, priority: low, model config

#1264 Improved Default Priors for `BetaGeoModel`
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/dev/MMM-Sandbox.ipynb
  docs/source/notebooks/clv/dev/marketing_mix.csv
  pymc_marketing/clv/models/beta_geo.py
  tests/clv/models/test_beta_geo.py
Labels: docs, enhancement, good first issue, CLV, tests, priority: medium, priority: low, model config, priors

#1285 solved mypy error in base.py
  pymc_marketing/mmm/base.py
Labels: MMM, maintenance, no releasenotes

#1290 Non-centered ZeroSumNormal Prior support
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: enhancement, tests, Prior class

#1292 Allow non-Prior parameters in Prior and media transformations
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/prior.py
  tests/mmm/components/test_base.py
  tests/test_prior.py
Labels: MMM, tests, Prior class

#1288 Rename `plot_expected_purchases` and docstring edits
  docs/source/notebooks/clv/clv_quickstart.ipynb
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/plotting.py
  tests/clv/test_plotting.py
Labels: docs, good first issue, CLV, maintenance, no releasenotes, tests, priority: low, plots

#1308 improve pre-commit
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1296 Deserialize arbitrary objects
  docs/source/api/index.md
  pymc_marketing/deserialize.py
  pymc_marketing/hsgp_kwargs.py
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/model_config.py
  pymc_marketing/prior.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_saturation.py
  tests/test_deserialize.py
  tests/test_model_config.py
  tests/test_prior.py
Labels: docs, enhancement, CLV, MMM, tests, Prior class, Deployment

#1303 Fix tanh component
  pymc_marketing/mmm/components/saturation.py
Labels: bug, good first issue, MMM

#1304 Allow VariableFactory in FourierBase
  pymc_marketing/mmm/fourier.py
  tests/mmm/test_fourier.py
Labels: enhancement, MMM, tests

#1309 Add Censored wrapper for Prior class
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: enhancement, tests, Prior class

#1320 Register new media transformations automatically
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_base.py
  tests/mmm/components/test_saturation.py
Labels: enhancement, MMM, tests

#1315 1314 implement serialization for fourier classes
  pymc_marketing/mmm/fourier.py
  tests/mmm/test_fourier.py
Labels: enhancement, MMM, tests
