Repository pymc-labs/pymc-marketing, pull requests merged in 2024-11, with the labels that each got.

#1143 Add "new issue" landing page
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: maintenance, no releasenotes

#1152 add mention of GPU in documentation
  README.md
  docs/source/index.md
  docs/source/notebooks/general/other_nuts_samplers.ipynb
Labels: docs

#1147 Speed up notebook run action
  docs/source/notebooks/mmm/mmm_roas.ipynb
  scripts/run_notebooks/injected.py
  scripts/run_notebooks/runner.py
Labels: docs, CLV, MMM, maintenance, no releasenotes

#1154 Remove "All checks" job which hangs
  .github/workflows/test.yml
Labels: good first issue, maintenance, no releasenotes

#1153 Conditional run of tests
  .github/workflows/test.yml
Labels: maintenance, no releasenotes

#1156 Mock posterior with prior on various CLV tests
  .github/workflows/test.yml
  pyproject.toml
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_beta_geo_beta_binom.py
  tests/clv/models/test_gamma_gamma.py
  tests/clv/models/test_pareto_nbd.py
  tests/conftest.py
Labels: CLV, maintenance, no releasenotes, tests

#1160 Manage Slow Tests Issue
  .github/workflows/slow-tests-issue.yml
  scripts/slowest_tests/extract-slow-tests.py
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: maintenance, no releasenotes

#1163 Conditional Notebook Test Trigger
  .github/workflows/test_notebook.yml
Labels: maintenance, no releasenotes

#1167 Change filter to "success"
  .github/workflows/slow-tests-issue.yml
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: maintenance, no releasenotes

#1168 New strategy for UML
  .github/workflows/uml.yml
Labels: maintenance, no releasenotes

#1171 Point to zsh in action
  .github/workflows/slow-tests-issue.yml
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: no releasenotes

#1173 Fix LinearTrend rending issue
  pymc_marketing/mmm/linear_trend.py
Labels: MMM

#1175 Counterfactual bug fix
  docs/source/notebooks/mmm/mmm_counterfactuals.ipynb
Labels: bug, docs, MMM

#1174 Solving bug on optimization plot
  docs/source/notebooks/mmm/mmm_budget_allocation_example.ipynb
Labels: docs, MMM

#1181 patch values stacked plot
  pymc_marketing/mmm/base.py
  tests/mmm/test_plotting.py
Labels: bug, MMM, tests, priority: high

#1189 Run sBG with seed
  docs/source/notebooks/clv/sBG.ipynb
Labels: docs, CLV

#1211 Create load_from_idata method
  pymc_marketing/model_builder.py
Labels: enhancement, maintenance

#1240 ruff 0.8.0 and fix some tests
  .pre-commit-config.yaml
  pymc_marketing/__init__.py
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/__init__.py
  pymc_marketing/clv/plotting.py
  pymc_marketing/clv/utils.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/mmm.py
  pymc_marketing/mmm/preprocessing.py
  pymc_marketing/mmm/validating.py
  tests/mmm/components/test_adstock.py
  tests/test_prior.py
Labels: CLV, MMM, no releasenotes, tests

#1222 Add CLV `plot_expected_purchases_ppc`
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/dev/MMM-Sandbox.ipynb
  docs/source/notebooks/clv/dev/beta_geo_dev.ipynb
  docs/source/notebooks/clv/dev/marketing_mix.csv
  docs/source/notebooks/clv/dev/utilities.ipynb
  docs/source/notebooks/clv/dev/utilities_plotting.ipynb
  docs/source/notebooks/clv/pareto_nbd.ipynb
  docs/source/notebooks/clv/pnbd.nc
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/plotting.py
  tests/clv/test_plotting.py
  tests/clv/test_utils.py
  tests/conftest.py
Labels: docs, enhancement, CLV, tests, plots

#1243 CLV Quickstart Revisions
  docs/source/notebooks/clv/clv_quickstart.ipynb
Labels: docs, CLV
