Repository pymc-labs/pymc-marketing, pull requests merged in 2024-01, with the labels that each got.

#468 Optimisation in customer_lifetime_value when discount_rate == 0
  pymc_marketing/clv/utils.py
Labels: enhancement, CLV

#478 Update Ruff logo in README
  README.md
Labels: no releasenotes

#476 Add support for pre-commit-ci
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#483 Don't show full path of items in the docs
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/method.rst
  docs/source/_templates/autosummary/module.rst
Labels: docs, maintenance

#479 Rename `clv_summary` to `rfm_summary` and extend functionality
  datasets/cdnow_transactions.csv
  docs/source/notebooks/clv/clv_quickstart.ipynb
  pymc_marketing/clv/utils.py
  tests/clv/test_utils.py
  tests/conftest.py
Labels: docs, enhancement, CLV, maintenance

#484 Improve Ruff
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/transformers.py
  pyproject.toml
Labels: maintenance, no releasenotes

#482 Handle new data correctly and extend functionality of MMM posterior predictive methods
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/model_builder.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_utils.py
  tests/model_builder/test_model_builder.py
Labels: bug, enhancement, MMM

#503 Add scale preserving saturation function
  pymc_marketing/mmm/transformers.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM
