Repository pymc-labs/pymc-marketing, pull requests merged in 2024-07, with the labels that each got.

#799 prepare release 0.7.0
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#802 Pull out seasonality as `YearlyFourier` and `MonthlyFourier`
  docs/source/notebooks/mmm/mmm_components.ipynb
  pymc_marketing/constants.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/plot.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/prior.py
  tests/mmm/components/test_base.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_fourier.py
  tests/mmm/test_plot.py
  tests/mmm/test_utils.py
Labels: enhancement, MMM

#810 Separate Weibull adstock into CDF & PDF
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/components/test_adstock.py
Labels: enhancement, MMM

#811 Add typing and package classifiers
  pymc_marketing/py.typed
  pyproject.toml
Labels: maintenance, no releasenotes

#815 Save & load support for time varying parameters
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: bug, MMM

#816 Make PyMC 5.13.0 the minimum version
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pyproject.toml
  tests/clv/test_distributions.py
  tests/mmm/test_lift_test.py
  tests/test_model_builder.py
Labels: maintenance

#824 Date Validation and MMM Model Hamonization (Pydantic)
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: MMM, tests

#823 Remove warnings during tests
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/model_builder.py
  pymc_marketing/utils.py
  tests/conftest.py
  tests/mmm/components/test_adstock.py
  tests/mmm/test_budget_optimizer.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_plotting.py
  tests/mmm/test_validating.py
  tests/test_model_builder.py
Labels: maintenance, no releasenotes, tests

#806 Future-proof `prior_linearized` method call
  pymc_marketing/mmm/tvp.py
Labels: MMM, maintenance

#827 Create inverse_scaled_logistic_saturation and the corresponding class
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/components/test_saturation.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM

#842 fix pre-commit
  .pre-commit-config.yaml
  tests/test_model_builder.py
Labels: maintenance, no releasenotes

#849 Specify 0.9.0 as deprecation version for recent MMM changes
  README.md
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: MMM, maintenance

#850 add intercept and target variable to MMM component example
  docs/source/notebooks/mmm/mmm_components.ipynb
Labels: docs, MMM

#854 Various MMM small documentation fixes
  .pre-commit-config.yaml
  docs/source/index.md
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pyproject.toml
Labels: docs, MMM

#856 Update UML diagrams
  Makefile
  docs/source/uml/classes_clv.png
  docs/source/uml/classes_mmm.png
  docs/source/uml/packages_clv.png
  docs/source/uml/packages_mmm.png
  pyproject.toml
Labels: docs, maintenance

#859 Fixing ruff commands in Makefile #825
  CONTRIBUTING.md
  Makefile
Labels: maintenance

#861 Fix model_builder docstrings
  pymc_marketing/model_builder.py
Labels: docs, model builder

#873 Inference changed to dataset
  pymc_marketing/mmm/delayed_saturated_mmm.py
Labels: docs, MMM

#858 Add root saturation function (issue #702)
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/components/test_saturation.py
Labels: enhancement, MMM

#881 `json.loads` with python types bug
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: bug, MMM

#864 Fix default `ConvMode` in docstring
  pymc_marketing/mmm/transformers.py
Labels: docs, MMM

#882 Save off media transformations
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_base.py
  tests/mmm/components/test_saturation.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: bug, MMM

#887 Update deployment docs
  .gitignore
  docs/source/guide/benefits/model_deployment.ipynb
  scripts/run_notebooks/runner.py
Labels: docs, MMM

#886 Automate UML creation
  .github/workflows/uml.yml
  docs/source/uml/classes_clv.png
  docs/source/uml/classes_mmm.png
  docs/source/uml/packages_clv.png
  docs/source/uml/packages_mmm.png
Labels: maintenance, no releasenotes

#888 prepare release 0.8.0
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#893 Update README.md
  README.md
Labels: no releasenotes
