Repository pymc-labs/pymc-marketing, pull requests merged in 2024-04, with the labels that each got.

#615 Drop python 3.9 support
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  pyproject.toml
Labels: maintenance, priority: high

#611 Add lift tests check to comparison table
  docs/source/guide/mmm/comparison.md
Labels: docs, MMM

#573 Add more content to the Gamma-Gamma Notebook
  docs/source/notebooks/clv/gamma_gamma.ipynb
Labels: docs, CLV

#571 Add more content to the BG/NBD Notebook
  docs/source/notebooks/clv/bg_nbd.ipynb
Labels: docs, CLV

#612 Improve MMM Docs
  README.md
  docs/source/guide/mmm/mmm_intro.md
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/preprocessing.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/mmm/validating.py
Labels: docs, MMM

#623 Solve failing test because PyMC 5.13 release
  tests/clv/models/test_shifted_beta_geo.py
Labels: CLV, no releasenotes, tests, priority: high

#618 Add support for Python 3.12
  .github/workflows/ci.yml
  environment.yml
Labels: maintenance

#633 Update pypi.yml (dash change)
  .github/workflows/pypi.yml
Labels: maintenance, no releasenotes, priority: high

#635 Add `UP` rule ruff
  docs/source/notebooks/clv/sBG.ipynb
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/clv/models/shifted_beta_geo.py
  pymc_marketing/clv/plotting.py
  pymc_marketing/clv/utils.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/lift_test.py
  pymc_marketing/mmm/preprocessing.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/mmm/validating.py
  pymc_marketing/model_builder.py
  pyproject.toml
  tests/clv/test_plotting.py
  tests/conftest.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_transformers.py
  tests/model_builder/test_model_builder.py
Labels: maintenance, no releasenotes

#636 Add ruff `RUF` rules
  docs/source/notebooks/mmm/mmm_lift_test.ipynb
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/mmm/base.py
  pyproject.toml
  tests/clv/models/test_gamma_gamma.py
  tests/clv/test_distributions.py
  tests/mmm/test_validating.py
Labels: maintenance, no releasenotes

#637 Add Flake8-BugBear and Bandit (Security!)
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/general/other_nuts_samplers.ipynb
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/utils.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/model_builder.py
  pyproject.toml
  tests/clv/test_utils.py
  tests/mmm/test_lift_test.py
  tests/model_builder/test_model_builder.py
Labels: request discussion, maintenance, no releasenotes

#645 Fix build badge
  README.md
Labels: docs, no releasenotes

#647 Add downloads stats to README
  README.md
Labels: docs, no releasenotes

#646 Pareto/NBD Example Notebook
  docs/source/notebooks/clv/dev/pareto_nbd.ipynb
  docs/source/notebooks/clv/pareto_nbd.ipynb
  docs/source/notebooks/index.md
  pymc_marketing/clv/__init__.py
Labels: docs, CLV, priority: medium

#651 add spaces, increase indentation, and fix number order to Pareto notebook
  docs/source/notebooks/clv/pareto_nbd.ipynb
Labels: docs, CLV, no releasenotes

#631 Plot Waterfall Components Decomposition
  pymc_marketing/mmm/base.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_plotting.py
Labels: MMM

#652 Update resources.md
  docs/source/guide/mmm/resources.md
Labels: docs

#654 Fix ylabel BG/NBD Notebook
  docs/source/notebooks/clv/bg_nbd.ipynb
Labels: docs

#657 Improve tanh saturation parameter class documentation
  pymc_marketing/mmm/transformers.py
Labels: docs

#653 Add quickstart to readme
  README.md
  docs/source/_static/expected_purchases.png
  docs/source/_static/mmm_plot_components_contributions.png
  docs/source/_static/mmm_plot_plot_channel_contributions_grid.png
  docs/source/index.md
Labels: docs
