Repository pymc-labs/pymc-marketing, pull requests merged in 2024-02, with the labels that each got.

#509 Relax Numpy version in pyproject.toml
  pyproject.toml
Labels: maintenance, no releasenotes

#512 Support use of `ParetoNBDModel` in `customer_lifetime_value`
  pymc_marketing/clv/utils.py
  tests/clv/test_utils.py
Labels: bug, CLV, priority: high

#517 Update version.txt (0.4.0)
  pymc_marketing/version.txt
Labels: no releasenotes

#515 Reuse fixtures in slow MMM tests
  tests/mmm/test_delayed_saturated_mmm.py
Labels: MMM, maintenance, no releasenotes, tests

#536 Update ci.yml
  .github/workflows/ci.yml
Labels: no releasenotes

#539 Update resources page
  docs/source/guide/mmm/resources.md
Labels: docs
