Repository pymc-labs/pymc-marketing, pull requests merged in 2024-10, with the labels that each got.

#1074 Docs update: make sure the right title shows up on Google
  docs/source/conf.py
Labels: docs

#1068 #990 - Plot FourierBase along date rather than index
  pymc_marketing/mmm/fourier.py
  tests/mmm/test_fourier.py
Labels: enhancement, MMM, plots

#1076 Add CLV Cumulative Transaction Utlity
  docs/source/notebooks/clv/dev/utilities.ipynb
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/utils.py
  tests/clv/test_utils.py
Labels: enhancement, CLV, priority: medium, plots

#1078 Deprecate several `pymc_marketing.mmm.utils` functions
  pymc_marketing/mmm/utils.py
  tests/mmm/test_utils.py
Labels: MMM

#1083 small fixes mm roas notebook
  docs/source/notebooks/mmm/mmm_roas.ipynb
Labels: docs, MMM

#1032 New notebook: causal inference with MMM's
  docs/source/_static/causal_ladder.png
  docs/source/notebooks/index.md
  docs/source/notebooks/mmm/mmm_counterfactuals.ipynb
Labels: docs, MMM

#1084 Polishing the new new causal ladder docs page
  docs/source/notebooks/mmm/mmm_counterfactuals.ipynb
Labels: docs, MMM

#1085 Fix malformed equation in MMM docstring
  pymc_marketing/mmm/mmm.py
Labels: docs, MMM

#1086 Automatic labeling of untouched issues
  .github/workflows/label-blank-issue.yml
Labels: maintenance

#1054 `michaelis_menten` transformation as `pt.TensorVariable`
  docs/source/notebooks/mmm/mmm_components.ipynb
  pymc_marketing/mmm/components/saturation.py
  tests/mmm/test_plotting.py
Labels: bug, MMM

#1089 Update version.py - Prepare for 0.10.0 Release
  pymc_marketing/version.py
Labels: maintenance, no releasenotes

#1091 Expose Streamlit App in Documentation
  README.md
  docs/source/guide/mmm/mmm_intro.md
  docs/source/guide/mmm/resources.md
  docs/source/index.md
  streamlit/mmm-explainer/README.md
Labels: docs

#1101 Use ModelBuilder for incrementality model
  pymc_marketing/model_builder.py
  pymc_marketing/product_incrementality/mv_its.py
  tests/product_incrementality/test_incrementality.py
  tests/product_incrementality/test_mv_its.py
  tests/test_model_builder.py
Labels: product incrementality

#1111 Add PR auto labeling
  .github/labeler.yml
  .github/workflows/pr-auto-label.yml
Labels: maintenance

#1113 Sync PR labels with closing issues
  .github/workflows/pr-auto-label.yml
Labels: maintenance

#1117 Add GitHub token to env
  .github/workflows/pr-auto-label.yml
Labels: maintenance

#1118 add checkout before gh cli
  .github/workflows/pr-auto-label.yml
Labels: maintenance

#1114 Test for expected exception instead of xfail
  tests/test_model_builder.py
Labels: good first issue, maintenance, tests

#1115 Add `plot_expected_purchases` function
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/dev/utilities.ipynb
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/plotting.py
  pymc_marketing/clv/utils.py
  tests/clv/test_plotting.py
Labels: docs, enhancement, CLV, request discussion, tests, priority: medium, plots

#1094 Beta geo expected probability no purchase
  docs/source/notebooks/clv/bg_nbd.ipynb
  pymc_marketing/clv/models/beta_geo.py
  tests/clv/models/test_beta_geo.py
Labels: docs, duplicate, enhancement, CLV, tests

#1120 Respect removals in closing issues
  .github/workflows/pr-auto-label.yml
Labels: maintenance

#1121 Different Attempt on UML Automation
  .github/workflows/uml.yml
Labels: help wanted, maintenance

#1129 add github-action dependabot
  .github/dependabot.yml
Labels: maintenance, no releasenotes
