Repository pymc-labs/pymc-marketing, pull requests merged in 2024-05, with the labels that each got.

#662 Remove unnecessary NonImplemented errors from abstract methods
  pymc_marketing/model_builder.py
Labels: maintenance, no releasenotes

#665 Pass conv mode to adstock functions
  pymc_marketing/mmm/transformers.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM

#667 [Try] Fix compressed images in docs.
  pyproject.toml
Labels: bug, docs, help wanted, priority: high

#671 Sync PyMC Olderst version independencies and CI.
  pyproject.toml
Labels: maintenance, no releasenotes, priority: high

#673 Add license to python scripts
  .pre-commit-config.yaml
  pymc_marketing/__init__.py
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/__init__.py
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/clv/models/shifted_beta_geo.py
  pymc_marketing/clv/plotting.py
  pymc_marketing/clv/utils.py
  pymc_marketing/constants.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/lift_test.py
  pymc_marketing/mmm/preprocessing.py
  pymc_marketing/mmm/transformers.py
  pymc_marketing/mmm/tvp.py
  pymc_marketing/mmm/utils.py
  pymc_marketing/mmm/validating.py
  pymc_marketing/model_builder.py
  pymc_marketing/version.py
  tests/__init__.py
  tests/clv/__init__.py
  tests/clv/models/__init__.py
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_gamma_gamma.py
  tests/clv/models/test_pareto_nbd.py
  tests/clv/models/test_shifted_beta_geo.py
  tests/clv/test_distributions.py
  tests/clv/test_plotting.py
  tests/clv/test_utils.py
  tests/conftest.py
  tests/mmm/__init__.py
  tests/mmm/test_base.py
  tests/mmm/test_budget_optimizer.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_lift_test.py
  tests/mmm/test_plotting.py
  tests/mmm/test_preprocessing.py
  tests/mmm/test_transformers.py
  tests/mmm/test_tvp.py
  tests/mmm/test_utils.py
  tests/mmm/test_validating.py
  tests/model_builder/test_model_builder.py
Labels: enhancement, maintenance, no releasenotes, priority: high

#675 Sync CI/CD pymc version with pyproject toml
  .github/workflows/ci.yml
  pyproject.toml
Labels: enhancement, maintenance, no releasenotes

#676 Add sample_kwargs BG/NBD Notebook
  docs/source/notebooks/clv/bg_nbd.ipynb
Labels: docs, CLV

#677 Prepare 0.6.0 Release : Update version.txt
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#693 Correct BetaGeo docstring example
  pymc_marketing/clv/models/beta_geo.py
Labels: docs, CLV

#431 Add `BetaGeoBetaBinom` Distribution Block
  docs/source/notebooks/clv/dev/beta_geo_beta_binom.ipynb
  pymc_marketing/clv/distributions.py
  tests/clv/test_distributions.py
Labels: enhancement, help wanted, CLV

#698 Fix related to column renaming after aggregating test frequency
  pymc_marketing/clv/utils.py
Labels: bug, CLV
