Repository pymc-labs/pymc-marketing, pull requests merged in 2024-09, with the labels that each got.

#992 Changed pt=pt to pt_lib = None to avoid showing full module path in docs
  pymc_marketing/mmm/lift_test.py
Labels: docs

#991 Linear trend
  docs/source/_static/hierarchical-linear-trend-prior.png
  docs/source/_static/linear-trend-prior.png
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/linear_trend.py
  tests/mmm/test_linear_trend.py
Labels: enhancement, MMM

#993 Fix failing UML ... again
  .github/workflows/uml.yml
Labels: maintenance, no releasenotes

#1006 Add Python 3.10 or greater requirement to installation instructions
  docs/source/index.md
Labels: docs

#1007 Move MyPy config to `pyproject.toml`
  mypy.ini
  pyproject.toml
Labels: maintenance

#1000 Update to lift test calibration notebook
  docs/source/notebooks/mmm/mmm_lift_test.ipynb
Labels: docs, MMM

#1017 Enhance MMM intro material
  docs/source/guide/mmm/comparison.md
  docs/source/guide/mmm/mmm_intro.md
  docs/source/guide/mmm/resources.md
  docs/source/index.md
Labels: docs, MMM

#1018 Add user customization to `plot_curve` methods
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/linear_trend.py
  pymc_marketing/mmm/plot.py
  tests/mmm/test_plot.py
Labels: enhancement, MMM, plots

#1025 lower bound xarray
  pyproject.toml
Labels: maintenance

#1031 Add `BetaGeoBetaBinomModel`
  docs/source/notebooks/clv/dev/beta_geo_beta_binom.ipynb
  pymc_marketing/clv/__init__.py
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/__init__.py
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/beta_geo_beta_binom.py
  tests/clv/models/test_beta_geo_beta_binom.py
  tests/clv/test_distributions.py
Labels: enhancement, CLV, priority: high

#1039 `BetaGeoBetaBinomModel` Testing Speedup
  tests/clv/models/test_beta_geo_beta_binom.py
Labels: CLV, no releasenotes, tests, priority: high

#1043 Mute `Sampling: []` stdout when calling `get_channel_contributions_forward_pass_grid`
  pymc_marketing/mmm/mmm.py
Labels: MMM

#1023 Improve landing page
  docs/source/contributing/index.md
  docs/source/getting_started/index.md
  docs/source/getting_started/installation/index.md
  docs/source/getting_started/quickstart/clv/index.md
  docs/source/getting_started/quickstart/mmm/index.md
  docs/source/guide/index.md
  docs/source/index.md
  docs/source/notebooks/index.md
Labels: docs

#1047 Update version.txt [0.9.0]
  pymc_marketing/version.txt
Labels: maintenance, no releasenotes

#1051 Use Hatchling build-backend and fix README for PyPI
  README.md
  pymc_marketing/version.py
  pymc_marketing/version.txt
  pyproject.toml
Labels: maintenance, no releasenotes

#1060 #1020 Correction of doctring for plot.py for `sample_kwargs`
  pymc_marketing/mmm/plot.py
Labels: docs

#1061 #1035 Distribution new customer enhancements
  pymc_marketing/clv/models/beta_geo_beta_binom.py
Labels: CLV

#1067 #1063 Pareto_nbd distribution enhancements
  pymc_marketing/clv/models/pareto_nbd.py
Labels: enhancement, CLV
