Repository pymc-labs/pymc-marketing, pull requests merged in 2024-06, with the labels that each got.

#710 BG/BB Test Dataset
  data/bgbb_donations.csv
Labels: CLV, no releasenotes, tests

#716 Correct bambi reference in Contributing file
  CONTRIBUTING.md
Labels: maintenance, no releasenotes

#715 use URL for README image
  README.md
Labels: docs, no releasenotes

#714 Unblock version by footer
  docs/source/_static/custom.css
Labels: docs, no releasenotes

#709 Update `BetaGeoModel` API
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/clv_quickstart.ipynb
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/plotting.py
  tests/clv/models/test_beta_geo.py
  tests/clv/test_plotting.py
Labels: docs, CLV, maintenance, tests, priority: medium, major

#728 CLV Plotting API
  pymc_marketing/clv/plotting.py
  tests/clv/test_plotting.py
Labels: docs, CLV, maintenance, tests, priority: high, major

#731 Fix some ParetoNBDModel docstring typos
  pymc_marketing/clv/models/pareto_nbd.py
Labels: docs, CLV

#737 pass kwargs to minimizer
  pymc_marketing/mmm/budget_optimizer.py
  tests/mmm/test_budget_optimizer.py
Labels: MMM, tests

#735 Minor improvements [MMM]
  README.md
  docs/source/notebooks/mmm/mmm_budget_allocation_example.ipynb
  pymc_marketing/constants.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: docs, MMM

#725 Set upper bound pymc 5.16
  .github/workflows/ci.yml
  environment.yml
  pyproject.toml
Labels: maintenance, no releasenotes, priority: high

#734 Media transformation sampling & plotting methods
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_base.py
  tests/mmm/components/test_saturation.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: enhancement, MMM

#738 improve tests mmm utils
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/utils.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/mmm/test_utils.py
Labels: MMM, tests

#741 `model.fit` doesn't remove prior samples
  pymc_marketing/clv/models/basic.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/model_builder.py
  tests/conftest.py
  tests/mmm/test_base.py
  tests/test_model_builder.py
Labels: bug

#743 Hierarchical Model Configuration
  docs/source/api/index.md
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/model_config.py
  tests/mmm/components/test_base.py
  tests/mmm/components/test_saturation.py
  tests/mmm/test_delayed_saturated_mmm.py
  tests/test_model_config.py
Labels: enhancement, MMM

#748 MMM Component Notebook
  docs/source/notebooks/index.md
  docs/source/notebooks/mmm/mmm_components.ipynb
  tests/mmm/components/test_base.py
  tests/mmm/test_delayed_saturated_mmm.py
Labels: docs, MMM

#750 start addressing sphinx warnings and rendering issues
  docs/source/conf.py
  pymc_marketing/clv/models/pareto_nbd.py
  pyproject.toml
Labels: docs

#764 Bring pre-commit action back
  .github/workflows/ci.yml
Labels: maintenance, no releasenotes

#761 remove noqa from plots
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/delayed_saturated_mmm.py
Labels: MMM

#758 `GammaGammaModel` API Improvements
  docs/source/notebooks/clv/gamma_gamma.ipynb
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/utils.py
  tests/clv/datasets/test_summary_data.csv
  tests/clv/models/test_gamma_gamma.py
  tests/clv/test_utils.py
  tests/conftest.py
Labels: docs, invalid, CLV, maintenance, tests, priority: high, major

#790 Deepcopy of posterior to allow second `fit` call
  docs/source/notebooks/mmm/mmm_lift_test.ipynb
  pymc_marketing/mmm/delayed_saturated_mmm.py
  pymc_marketing/model_builder.py
  tests/mmm/test_base.py
  tests/test_model_builder.py
Labels: bug, MMM, model builder

#785 CLV Modeling Domains and Docstrings
  README.md
  docs/source/index.md
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/dev/utilities.ipynb
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/clv/utils.py
Labels: docs, CLV

#797 docs: Update model_builder.py to resolve warning in documentation build
  pymc_marketing/model_builder.py
Labels: docs, maintenance, no releasenotes
