Repository pymc-labs/pymc-marketing, pull requests merged in 2024-08, with the labels that each got.

#902 Add url health job from streamlit app
  .github/workflows/streamlit_url_health.yml
Labels: maintenance, streamlit

#906 small improvements model config nb
  docs/source/notebooks/general/model_configuration.ipynb
Labels: docs

#907 Add pymc-marketing version to some MMM notebooks
  docs/source/notebooks/mmm/mmm_components.ipynb
  docs/source/notebooks/mmm/mmm_lift_test.ipynb
Labels: docs

#908 Move adstock and saturation method imports to mmm.__all__
  .github/workflows/uml.yml
  environment.yml
  pymc_marketing/mmm/__init__.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_saturation.py
Labels: MMM, maintenance

#910 Minor PR: Adding Documentation to Makefile and Updating Default Command to Return Documentation
  Makefile
Labels: maintenance

#913 Fix uml permissions
  .github/workflows/uml.yml
  docs/source/uml/classes_mmm.png
  pymc_marketing/mmm/lift_test.py
Labels: maintenance

#920 make hill pass through the origin
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM

#916 Add MMM ROAS Priors Case Study
  data/mmm_roas_data.csv
  docs/source/notebooks/index.md
  docs/source/notebooks/mmm/mmm_roas.ipynb
  pymc_marketing/paths.py
  pyproject.toml
Labels: docs, MMM

#923 typo mmm roas nb
  docs/source/notebooks/mmm/mmm_roas.ipynb
Labels: docs

#925 Original hill function definition
  docs/source/uml/classes_mmm.png
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/transformers.py
  tests/mmm/components/test_saturation.py
  tests/mmm/test_transformers.py
Labels: MMM

#921 MLflow autologging
  .github/workflows/test.yml
  .gitignore
  docs/source/api/index.md
  environment.yml
  pymc_marketing/mlflow.py
  pyproject.toml
  tests/test_mlflow.py
Labels: enhancement, Deployment, mlflow

#943 Log number of posterior & tuning samples
  Makefile
  pymc_marketing/mlflow.py
  pyproject.toml
  tests/test_mlflow.py
Labels: mlflow

#944 Point to GitHub Discussions in Community Support section
  docs/source/guide/benefits/why_open_source.md
Labels: docs

#957 deprecate WeibullAdstock in favor of WeibullCDFAdstock and WeibullPDFAdstock
  docs/source/uml/classes_mmm.png
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/__init__.py
  pymc_marketing/mmm/components/adstock.py
  tests/mmm/components/test_adstock.py
Labels: MMM

#962 Raise informative error when including target in `X`
  pymc_marketing/model_builder.py
  tests/test_model_builder.py
Labels: model builder

#963 Ensure `fit` reproducibility
  pymc_marketing/model_builder.py
  tests/test_model_builder.py
Labels: bug, model builder

#960 Enforce `check_parameters` for `alpha` in `geometric_adstock`
  pymc_marketing/mmm/transformers.py
  tests/mmm/test_transformers.py
Labels: enhancement, MMM

#970 scaling should be done before hdi computation posterior predictive
  pymc_marketing/mmm/base.py
Labels: MMM

#967 Fix UML permissions from forks / Run only on merge to main
  .github/workflows/uml.yml
  docs/source/uml/classes_clv.png
  docs/source/uml/classes_mmm.png
  docs/source/uml/packages_clv.png
  docs/source/uml/packages_mmm.png
  pymc_marketing/prior.py
Labels: maintenance, no releasenotes

#972 Register and allow custom transform for `Prior` class
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: enhancement, Prior class

#978 Improve and sync the README and landing page.
  README.md
  docs/source/index.md
Labels: docs

#971 Time slice cross validation MMM Notebook
  docs/source/api/index.md
  docs/source/notebooks/index.md
  docs/source/notebooks/mmm/mmm_time_slice_cross_validation.ipynb
  pymc_marketing/metrics.py
  pymc_marketing/mmm/base.py
  pyproject.toml
  tests/test_metrics.py
Labels: enhancement, MMM, tests

#983 Fix incorrect trigger in UML automation
  .github/workflows/uml.yml
Labels: maintenance, no releasenotes

#968 Media transformation class and different transformations based on subsets of channels
  docs/source/uml/classes_mmm.png
  docs/source/uml/packages_mmm.png
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/media_transformation.py
  tests/mmm/test_media_transformation.py
Labels: enhancement, MMM
