Repository pymc-labs/pymc-marketing, pull requests merged in 2025-07, with the labels that each got.

#1762 Handle optimization for dimensions having channel with zero spend
  environment.yml
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_budget_optimizer.py
  tests/mmm/test_budget_optimizer_multidimensional.py
Labels: bug, docs, MMM, tests, optimizer, multidimensional, awaiting review

#1822 fix the link to Labs YouTube
  docs/source/index.md
Labels: docs

#1843 Fix notebooks titles MMM in gallery
  docs/source/gallery/gallery.md
Labels: docs

#1844 Handle release of pymc 5.25.0
  .github/workflows/pypi.yml
  .github/workflows/test.yml
  .github/workflows/uml.yml
  .readthedocs.yml
  environment.yml
  pymc_marketing/mmm/budget_optimizer.py
  pyproject.toml
Labels: MMM, maintenance, major

#1841 Add support for time-based budget distribution in optimizer
  pymc_marketing/mmm/budget_optimizer.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_budget_optimizer.py
  tests/mmm/test_budget_optimizer_multidimensional.py
Labels: MMM, tests, optimizer

#1852 hot fix (test match)
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_beta_geo_beta_binom.py
  tests/clv/models/test_gamma_gamma.py
  tests/clv/models/test_modified_beta_geo.py
  tests/clv/models/test_pareto_nbd.py
  tests/clv/models/test_shifted_beta_geo.py
Labels: bug, tests

#1847 Allow for indexing of apply parameters
  pymc_marketing/mmm/components/base.py
  tests/mmm/components/test_base.py
Labels: MMM, tests

#1858 Change ruff precommit id
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1845 MMM: Fix Scaling Intercept
  pymc_marketing/mmm/mmm.py
  tests/mmm/test_mmm.py
Labels: docs, MMM, tests
