Repository pymc-labs/pymc-marketing, pull requests merged in 2025-04, with the labels that each got.

#1612 Log `pm.sample` exception to MLflow
  pymc_marketing/mlflow.py
  tests/test_mlflow.py
Labels: enhancement, tests, mlflow

#1616 Add to MLflow error docs
  pymc_marketing/mlflow.py
Labels: docs, mlflow

#1621 format code blocks
  README.md
Labels: docs

#1565 Permit `BudgetOptimizer.allocate_budget()` to take `x0` as an argument
  pymc_marketing/mmm/budget_optimizer.py
  tests/mmm/test_budget_optimizer.py
Labels: MMM, tests, optimizer

#1583 Replace `batched_convolution` by PyTensor native implementation
  environment.yml
  pymc_marketing/mmm/transformers.py
  pyproject.toml
Labels: MMM, maintenance

#1632 Update "how do we compare"
  docs/source/guide/mmm/comparison.md
Labels: docs

#1631 bump version 0.13.0
  pymc_marketing/version.py
Labels: no releasenotes

#1636 Fix casting bug when x0 is not supplied to optimizer
  pymc_marketing/mmm/budget_optimizer.py
Labels: bug, MMM, optimizer

#1637 Deprecate CLV methods, `clv_summary`, `method` parameter, `to_json` and `from_json` methods
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/modified_beta_geo.py
  pymc_marketing/clv/utils.py
  pymc_marketing/mmm/mmm.py
  pymc_marketing/prior.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_modified_beta_geo.py
  tests/clv/test_utils.py
  tests/mmm/test_mmm.py
  tests/test_prior.py
Labels: good first issue, CLV, MMM, maintenance, tests, Prior class, deprecation

#1645 Change spacing batched_convolution documentation
  pymc_marketing/mmm/transformers.py
Labels: docs, MMM

#1650 Support for string in `plot_curve` and add to docs
  docs/source/api/index.md
  pymc_marketing/plot.py
  tests/test_plot.py
Labels: docs, enhancement, tests, plots

#1651 Add utils to docs
  docs/source/api/index.md
  pymc_marketing/utils.py
Labels: docs, good first issue
