Repository pymc-labs/pymc-marketing, pull requests merged in 2025-02, with the labels that each got.

#1452 Correcting HSGP to be link to model graph
  pymc_marketing/mmm/hsgp.py
  tests/mmm/test_hsgp.py
Labels: bug, MMM, tests, TVPs

#1454 Add deprecation section for releases
  .github/release.yml
Labels: maintenance, no releasenotes

#1455 Remove parameter methods
  pymc_marketing/model_builder.py
Labels: ModelBuilder, deprecation

#1458 Remove predictor_names argument
  pymc_marketing/model_builder.py
Labels: maintenance, ModelBuilder

#1461 Cancel CI/CD tests that aren't the latest
  .github/workflows/test.yml
  .github/workflows/test_notebook.yml
Labels: maintenance, no releasenotes

#1459 support xarray in ModelBuilder
  pymc_marketing/clv/models/basic.py
  pymc_marketing/model_builder.py
  tests/conftest.py
  tests/test_model_builder.py
Labels: enhancement, CLV, tests, ModelBuilder

#1466 bump version
  pymc_marketing/version.py
Labels: no releasenotes

#1468 load bug with y name different than `output_var`
  pymc_marketing/model_builder.py
  tests/conftest.py
  tests/customer_choice/test_mv_its.py
  tests/mmm/test_base.py
  tests/mmm/test_mmm.py
  tests/test_model_builder.py
Labels: bug, tests, ModelBuilder

#1465 [MMM] Model events as gaussian bumps
  pymc_marketing/mmm/events.py
  tests/mmm/test_events.py
Labels: MMM, tests

#1472 Fix ModifiedBetaGeoNBDRV sim_data
  pymc_marketing/clv/distributions.py
Labels: bug, CLV

#1477 bring pre-commit action back
  .github/workflows/test.yml
Labels: maintenance, no releasenotes

#1480 skip mypy in pre-commit ci
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1482 change location pre-commit workflow
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1485 test for (mock) fit of more MMMMs
  tests/mmm/test_multidimensional.py
Labels: maintenance, no releasenotes, tests

#1475 Add basis bumps effect to MMM model
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/events.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_events.py
  tests/mmm/test_multidimensional.py
Labels: enhancement, MMM, tests

#1489 skip on merge pre-commit (no-commit-on-branch hook)
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1470 Allow `plot_expected_purchases_pcc` in `BetaGeoModel` and `ModifiedBetaGeoModel`
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/mbg_nbd.ipynb
  environment.yml
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/plotting.py
  tests/clv/test_plotting.py
  tests/conftest.py
Labels: docs, enhancement, CLV, tests, priority: high, good second issue

#1493 use stages in pre-commit hoks
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1500 Change Basis sample_curve defaults
  pymc_marketing/mmm/events.py
  tests/mmm/test_events.py
Labels: bug, MMM, tests

#1502 Check for incompatible dims in MediaTranform
  pymc_marketing/mmm/media_transformation.py
  tests/mmm/test_media_transformation.py
Labels: bug, MMM, tests

#1501 Allow for extra columns in df_events
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, MMM, tests

#1503 Use MediaTransformation dims in save and load
  pymc_marketing/mmm/media_transformation.py
  tests/mmm/test_media_transformation.py
Labels: bug, MMM, tests, media transforms

#1390 Allow static covariates in BGNBDModel
  docs/source/notebooks/clv/dev/bg_nbg_covariates_test_issues.ipynb
  environment.yml
  pymc_marketing/clv/models/beta_geo.py
  tests/clv/models/test_beta_geo.py
Labels: docs, enhancement, CLV, tests

#1504 Support MediaTransformation and MediaConfigList deserialization
  pymc_marketing/mmm/media_transformation.py
  tests/mmm/test_media_transformation.py
Labels: enhancement, MMM, tests

#1505 Check for wrong media dims
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: enhancement, MMM, tests

#1509 Remove print statement
  pymc_marketing/mmm/events.py
Labels: MMM, maintenance, no releasenotes

#1507 add preliz dependency
  pyproject.toml
Labels: maintenance

#1510 Use SoftPlusHSGP in multidimensional HSGP
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/mmm/multidimensional.py
Labels: bug, MMM

#1512 Merge value and grad in budget optimizer
  pymc_marketing/mmm/budget_optimizer.py
Labels: MMM, optimizer

#1498 excluded _prior suffix from CLV models
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/dev/beta_geo_beta_binom.ipynb
  docs/source/notebooks/clv/mbg_nbd.ipynb
  docs/source/notebooks/clv/pareto_nbd.ipynb
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/beta_geo_beta_binom.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/models/modified_beta_geo.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/clv/models/shifted_beta_geo.py
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_beta_geo_beta_binom.py
  tests/clv/models/test_gamma_gamma.py
  tests/clv/models/test_modified_beta_geo.py
  tests/clv/models/test_pareto_nbd.py
  tests/clv/models/test_shifted_beta_geo.py
  tests/clv/test_utils.py
  tests/conftest.py
Labels: docs, CLV, maintenance, tests, major, model config, good second issue

#1520 action to label when a PR is from a bot
  .github/workflows/bot-prs.yml
Labels: maintenance, no releasenotes

#1523 Use SoftPlusHSGP directly in MMM class
  pymc_marketing/mmm/tvp.py
  tests/mmm/test_hsgp.py
Labels: bug, good first issue, MMM, tests, TVPs
