Repository pymc-labs/pymc-marketing, pull requests merged in 2025-10, with the labels that each got.

#1969 Hotfix - Fix dimension assertion for adding multidimensional event effects to multidimensional MMM
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1950 BuildModelFromDAG class for causal components
  pymc_marketing/mmm/causal.py
  tests/mmm/test_causal.py
Labels: MMM, tests, causal inference

#1972 Add MMM Quickstart Guide
  README.md
  docs/source/gallery/gallery.md
  docs/source/notebooks/mmm/mmm_quickstart.ipynb
Labels: docs, MMM

#1977 Remove redundant pre-commit action
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes

#1947 Introduce TBFPC and TBF_FCI causal discovery algorithms
  pymc_marketing/mmm/causal.py
  tests/mmm/test_causal.py
Labels: MMM, tests

#1982 Update notebook risk allocation
  docs/source/notebooks/mmm/mmm_allocation_assessment.ipynb
  pymc_marketing/mmm/utility.py
Labels: docs, MMM

#1979 Add calibration support to YAML MMM builder
  data/config_files/basic_model.yml
  data/config_files/example_with_original_scale_vars.yml
  data/config_files/multi_dimensional_example_model.yml
  data/config_files/multi_dimensional_hierarchical_model.yml
  data/config_files/multi_dimensional_hierarchical_model_nested_config.yml
  data/config_files/multi_dimensional_hierarchical_with_arbitrary_effects_model.yml
  data/config_files/multi_dimensional_model.yml
  data/config_files/multi_dimensional_with_events.yml
  docs/source/gallery/gallery.md
  docs/source/notebooks/mmm/mmm_build_from_yml_example.ipynb
  pymc_marketing/mmm/builders/yaml.py
  tests/mmm/builders/test_yaml.py
Labels: docs, enhancement, MMM, maintenance, tests
