Repository pymc-labs/pymc-marketing, pull requests merged in 2025-09, with the labels that each got.

#1918 Hotfix: use `target_column` in `create_fit_data` and `build_from_idata`
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, MMM, tests

#1920 Update gamma_control prior dimensions in MMM model
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1926 Fix ModelBuilder docstring formatting
  pymc_marketing/model_builder.py
Labels: docs, ModelBuilder

#1949 Fix np.testing.assert_array_almost_equal argument names
  tests/mmm/test_budget_optimizer.py
  tests/mmm/test_transformers.py
Labels: tests

#1962 Correcting optimizer docstring
  pymc_marketing/mmm/budget_optimizer.py
Labels: MMM, Needs Triage

#1963 Fix Mypy - HotFix
  pymc_marketing/clv/utils.py
  pymc_marketing/mmm/utils.py
Labels: CLV, MMM, maintenance, priority: high
