Repository pymc-labs/pymc-marketing, pull requests merged in 2025-03, with the labels that each got.

#1527 Fix UML cron
  .github/workflows/uml.yml
Labels: no releasenotes

#1532 Install conda environment
  .github/workflows/install-conda-env.yml
  environment.yml
Labels: no releasenotes, dependencies

#1533 Fix the TVP example
  pymc_marketing/mmm/tvp.py
Labels: docs, MMM

#1534 Getattr support for distributions
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: enhancement, tests, Prior class

#1537 Rename CLV `fit_method` and `t_unobserved` parameters to `method` and `t_start_eval`
  docs/source/notebooks/clv/bg_nbd.ipynb
  docs/source/notebooks/clv/clv_quickstart.ipynb
  docs/source/notebooks/clv/dev/pareto_nbd_advi.ipynb
  docs/source/notebooks/clv/dev/utilities_plotting.ipynb
  docs/source/notebooks/clv/gamma_gamma.ipynb
  docs/source/notebooks/clv/mbg_nbd.ipynb
  docs/source/notebooks/clv/pareto_nbd.ipynb
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/pareto_nbd.py
  pymc_marketing/clv/plotting.py
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_beta_geo_beta_binom.py
  tests/clv/models/test_modified_beta_geo.py
  tests/clv/models/test_pareto_nbd.py
  tests/clv/models/test_shifted_beta_geo.py
  tests/clv/test_plotting.py
Labels: docs, CLV, maintenance, tests, python, deprecation

#1541 Revert "Getattr support for distributions"
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: tests, Prior class

#1544 Fix SoftPlusHSGP out of sample
  docs/source/api/index.md
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/mmm/mmm.py
  pymc_marketing/mmm/multidimensional.py
  pymc_marketing/model_builder.py
  pymc_marketing/model_graph.py
  tests/mmm/test_hsgp.py
  tests/mmm/test_mmm.py
  tests/test_model_graph.py
Labels: bug, docs, MMM, tests, ModelBuilder

#1549 Bump version for 0.12.0 release
  pymc_marketing/version.py
Labels: no releasenotes

#1536 Add `sample_prior` to sample from arbitrary VariableFactory
  pymc_marketing/prior.py
  tests/test_prior.py
Labels: enhancement, tests, Prior class

#1551 Correcting small errors in multidimensional mmm
  environment.yml
  pymc_marketing/mmm/multidimensional.py
  pyproject.toml
Labels: MMM

#1555 1553 add transform parameter for HSGP link function
  pymc_marketing/mmm/hsgp.py
  tests/mmm/test_hsgp.py
Labels: enhancement, MMM, tests, TVPs

#1558 Speed up the CLV test suite
  .github/workflows/test.yml
  tests/clv/models/test_basic.py
  tests/clv/models/test_pareto_nbd.py
Labels: no releasenotes, tests

#1559 Fix warnings action
  scripts/warnings_in_tests/update-warnings-issue.sh
Labels: no releasenotes, tests

#1463 remove abstract requirement of data_setter
  pymc_marketing/clv/models/basic.py
  pymc_marketing/model_builder.py
  tests/test_model_builder.py
Labels: CLV, maintenance, tests, ModelBuilder

#1560 Add `demeaned_basis` flag for HSGP classes
  pymc_marketing/mmm/hsgp.py
  tests/mmm/test_hsgp.py
Labels: MMM, tests

#1562 Specify target scaling dimensions
  pymc_marketing/mmm/multidimensional.py
  pymc_marketing/mmm/scaling.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1571 1570 target scaled and variable need to be broadcasted with non global scaling
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, MMM, tests

#1573 Allow for media scaling settings
  pymc_marketing/mmm/multidimensional.py
  pymc_marketing/mmm/scaling.py
  tests/mmm/test_multidimensional.py
Labels: enhancement, MMM, tests

#1577 Bump version 0.12.1
  pymc_marketing/version.py
Labels: no releasenotes

#1580 Fourier and LinearTrend additive effects
  pymc_marketing/mmm/additive_effect.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_additive_effect.py
Labels: enhancement, MMM, tests

#1585 Fix LinearTrend out of sample
  pymc_marketing/mmm/additive_effect.py
  pymc_marketing/mmm/linear_trend.py
  tests/mmm/test_additive_effect.py
Labels: bug, MMM, tests, good second issue

#1591 Add version to posterior and prior groups
  pymc_marketing/model_builder.py
  tests/test_model_builder.py
Labels: enhancement, tests, ModelBuilder

#1592 use fixture in more model_builder tests
  tests/test_model_builder.py
Labels: no releasenotes, tests

#1594 BUG: FourierEffect with multidimensional case
  pymc_marketing/mmm/additive_effect.py
  tests/mmm/test_additive_effect.py
Labels: bug, MMM, tests

#1597 Cast periods value to int
  pymc_marketing/mmm/fourier.py
Labels: MMM, maintenance
