Repository pymc-labs/pymc-marketing, pull requests merged in 2025-05, with the labels that each got.

#1666 Fix Bass model example plot
  pymc_marketing/bass/model.py
Labels: docs, Bass model

#1675 Change the event function to class
  pymc_marketing/mmm/additive_effect.py
  pymc_marketing/mmm/events.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_additive_effect.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1686 Set html title explicitly
  docs/source/index.md
Labels: docs

#1695 Accelerate documentation build
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/conf.py
  pyproject.toml
Labels: docs

#1697 Expose n_samples, hdi_probs, and random_seed in `plot_curve`
  pymc_marketing/bass/model.py
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/events.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/mmm/linear_trend.py
  pymc_marketing/plot.py
  tests/test_plot.py
Labels: enhancement, MMM, tests, Bass model

#1713 Add LinearRegression wrapper
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/linear_regression.py
  tests/mmm/test_linear_regression.py
Labels: enhancement, MMM, tests, good second issue

#1715 Linear regression component tests
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/saturation.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_saturation.py
Labels: MMM, no releasenotes, tests

#1698 Issue #1696: addresses a bug in plotting the intercept
  pymc_marketing/mmm/mmm.py
Labels: MMM, plots
