Repository pymc-labs/pymc-marketing, pull requests merged in 2025-06, with the labels that each got.

#1739 Fix LinearTrend changepoints in `plot_curve` method
  pymc_marketing/mmm/linear_trend.py
Labels: bug, MMM, model components

#1741 Fix dim issue for default priors of linear trend and replace linear trend related doc pictures
  docs/source/_static/hierarchical-linear-trend-prior.png
  docs/source/_static/linear-trend-prior.png
  pymc_marketing/mmm/linear_trend.py
Labels: bug, docs, MMM, good second issue, model components

#1765 More granular ModelBuilder errors upon load
  pymc_marketing/model_builder.py
  tests/test_model_builder.py
Labels: enhancement, tests, ModelBuilder

#1780 Bug: Solving issue with hardcoded date
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, tests

#1778 Bug: Sample posterior predictive raise error if dates overlap
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1785 Allow for tvp priors in multidimensional.MMM
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, MMM, tests, multidimensional

#1654 Adding Multinomial and Nested Logit Models for Consumer Choice
  data/choice_crackers.csv
  data/choice_wide_heating.csv
  docs/source/gallery/gallery.md
  docs/source/notebooks/customer_choice/mnl_logit.ipynb
  docs/source/notebooks/customer_choice/nested_logit.ipynb
  docs/source/uml/classes_clv.png
  docs/source/uml/classes_customer_choice.png
  docs/source/uml/packages_clv.png
  docs/source/uml/packages_customer_choice.png
  docs/source/uml/packages_mmm.png
  pymc_marketing/customer_choice/mnl_logit.py
  pymc_marketing/customer_choice/nested_logit.py
  tests/customer_choice/test_mnlogit.py
  tests/customer_choice/test_nestedlogit.py
Labels: docs, tests, customer choice

#1794 ruff format docstring code blocks
  pymc_marketing/clv/models/basic.py
  pymc_marketing/clv/models/beta_geo_beta_binom.py
  pymc_marketing/clv/models/gamma_gamma.py
  pymc_marketing/clv/plotting.py
  pymc_marketing/customer_choice/mnl_logit.py
  pymc_marketing/customer_choice/nested_logit.py
  pymc_marketing/deserialize.py
  pymc_marketing/mlflow.py
  pymc_marketing/mmm/components/__init__.py
  pymc_marketing/mmm/components/adstock.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/components/saturation.py
  pymc_marketing/mmm/evaluation.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/lift_test.py
  pymc_marketing/mmm/media_transformation.py
  pymc_marketing/mmm/mmm.py
  pymc_marketing/mmm/scaling.py
  pymc_marketing/mmm/tvp.py
  pymc_marketing/model_builder.py
  pymc_marketing/model_graph.py
  pymc_marketing/prior.py
  pyproject.toml
Labels: docs, CLV, MMM, ModelBuilder, Prior class, mlflow, customer choice

#1781 Automatic casting based on model types for posterior predictive
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: bug, MMM, tests

#1738 Implement add_lift_test_measurements for MMMM
  pymc_marketing/mmm/lift_test.py
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: enhancement, MMM, tests, lift tests

#1802 Compute deterministics after sampling
  pymc_marketing/mmm/multidimensional.py
  pymc_marketing/model_builder.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests, ModelBuilder
