Repository pymc-labs/pymc-marketing, pull requests merged in 2025-01, with the labels that each got.

#1327 sort docs sections
  docs/source/api/index.md
  docs/source/notebooks/index.md
Labels: docs

#1335 Generalize verbiage of installation instructions
  README.md
Labels: docs

#1337 Compared censored logp with expected model
  tests/test_prior.py
Labels: no releasenotes, tests, Prior class

#1336 Remove duplicate attrs/functions from MMM
  pymc_marketing/mmm/base.py
  pymc_marketing/model_builder.py
Labels: good first issue, MMM, ModelBuilder

#1338 Deprecate to/from_json of Prior class in favor of to/from_dict
  docs/source/notebooks/general/model_configuration.ipynb
  pymc_marketing/customer_choice/mv_its.py
  pymc_marketing/mmm/components/base.py
  pymc_marketing/mmm/fourier.py
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/model_builder.py
  pymc_marketing/prior.py
  tests/mmm/components/test_adstock.py
  tests/mmm/components/test_saturation.py
  tests/test_prior.py
Labels: docs, enhancement, good first issue, MMM, tests, Prior class, customer choice

#1344 Move `fit_result` to `model_builder.py` and remove redundancies from CLV and MMM
  pymc_marketing/clv/models/basic.py
  pymc_marketing/mmm/base.py
  pymc_marketing/model_builder.py
  tests/clv/models/test_basic.py
  tests/test_model_builder.py
Labels: CLV, MMM, maintenance, tests, ModelBuilder

#1353 Auto add ModelBuilder label
  .github/labeler.yml
Labels: maintenance, no releasenotes

#1269 Bump pymc dependency
  environment.yml
  pymc_marketing/clv/distributions.py
  pymc_marketing/mlflow.py
  pyproject.toml
  tests/clv/models/test_gamma_gamma.py
Labels: enhancement, CLV, maintenance, tests, priority: high, major, mlflow, dependencies

#1362 Enable transform `_sample_curve` to work with `VariableFactory`
  pymc_marketing/mmm/components/base.py
  tests/mmm/components/test_base.py
Labels: bug, MMM, tests

#1317 Introduce BetaGeoNBD Random Variable
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/beta_geo.py
  pymc_marketing/clv/models/modified_beta_geo.py
  tests/clv/models/test_beta_geo.py
  tests/clv/test_distributions.py
  tests/test_mlflow.py
Labels: enhancement, CLV, tests

#1316 keep date column in test_scale_lift_measurements
  pymc_marketing/mmm/lift_test.py
  tests/mmm/test_lift_test.py
  tests/mmm/test_mmm.py
Labels: bug, MMM, tests, lift tests, TVPs

#1368 MMM Evaluation, Diagnostics and MLFlow Registry
  docs/source/notebooks/index.md
  docs/source/notebooks/mmm/mmm_budget_allocation_example.ipynb
  docs/source/notebooks/mmm/mmm_evaluation.ipynb
  pymc_marketing/metrics.py
  pymc_marketing/mlflow.py
  pymc_marketing/mmm/evaluation.py
  pymc_marketing/mmm/mmm.py
  tests/mmm/test_evaluation.py
  tests/test_metrics.py
  tests/test_mlflow.py
Labels: docs, enhancement, MMM, tests, Deployment, mlflow

#1374 Fix new evaluation notebook
  docs/source/notebooks/mmm/mmm_evaluation.ipynb
  pymc_marketing/mmm/evaluation.py
  pymc_marketing/mmm/mmm.py
Labels: docs, MMM, maintenance, no releasenotes

#1379 Add `load_from_idata` method
  pymc_marketing/model_builder.py
  tests/mmm/test_mmm.py
Labels: tests, ModelBuilder

#1382 Have issue link on top of config
  .github/ISSUE_TEMPLATE/config.yml
Labels: maintenance, no releasenotes

#1385 Cache pip dependencies in GitHub Action
  .github/workflows/test.yml
Labels: maintenance, no releasenotes

#1391 Add tests
  .pre-commit-config.yaml
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/hsgp.py
  pymc_marketing/mmm/mmm.py
  pyproject.toml
  tests/mmm/test_hsgp.py
  tests/mmm/test_mmm.py
  tests/mmm/test_plotting.py
  tests/test_paths.py
Labels: MMM, tests

#1393 MLflow logging *before* slow function calls
  pymc_marketing/mlflow.py
Labels: enhancement, mlflow

#1396 Breakout and Document MLflow functions
  pymc_marketing/mlflow.py
Labels: docs, good first issue, mlflow

#1375 Implement ModifiedBetaGeoNBD and ModifiedBetaGeoNBDRV
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/modified_beta_geo.py
  tests/clv/models/test_modified_beta_geo.py
  tests/clv/test_distributions.py
Labels: CLV, tests

#1412 fix: use local dataset for CLV tests
  tests/clv/test_utils.py
Labels: good first issue, no releasenotes, tests

#1413 Relax the type that is needed for evaluation metric function
  pymc_marketing/mlflow.py
  pymc_marketing/mmm/evaluation.py
  tests/mmm/test_evaluation.py
Labels: docs, MMM, tests, mlflow

#1417 Moved pyprojroot from docs to dependencies
  pyproject.toml
Labels: bug, good first issue

#1415 shorten PR template
  .github/pull_request_template.md
Labels: no releasenotes

#1414 Remove sample_posterior_predictive_patch
  pymc_marketing/mlflow.py
  tests/test_mlflow.py
Labels: bug, MMM, tests, mlflow

#1364 Add CLV Roadmap
  CONTRIBUTING.md
  docs/source/_static/clv_roadmap_2025.png
  environment.yml
  scripts/roadmaps/clv_tasks_priority.yaml
  scripts/roadmaps/create_clv_roadmap.py
Labels: docs, CLV

#1419 CLV Documentation Revisions
  README.md
  docs/source/index.md
  docs/source/notebooks/clv/clv_quickstart.ipynb
  pymc_marketing/clv/distributions.py
  pymc_marketing/clv/models/modified_beta_geo.py
  tests/clv/models/test_modified_beta_geo.py
Labels: docs, CLV, tests

#1420 bump 0.11.0
  pymc_marketing/version.py
Labels: no releasenotes

#1423 Log model with only pm.Data for likelihood
  pymc_marketing/mlflow.py
  tests/test_mlflow.py
Labels: bug, tests, mlflow

#1425 MLflow callback logging
  pymc_marketing/mlflow.py
  tests/test_mlflow.py
Labels: enhancement, tests, mlflow

#1433 1325 invalid way of calling first element of pdseries
  pymc_marketing/mmm/tvp.py
  tests/mmm/test_tvp.py
Labels: bug, good first issue, MMM, tests, TVPs

#1429 More flexible type for BudgetOptimizer
  pymc_marketing/mmm/budget_optimizer.py
Labels: MMM

#1434 Remove repeated docs
  docs/source/notebooks/index.md
Labels: bug, docs

#1438 improve readme
  README.md
  docs/source/_static/conterfactual.png
  docs/source/_static/roas_efficiency.png
Labels: docs

#1440 Fix error when budgets_to_optimize are specified
  pymc_marketing/mmm/budget_optimizer.py
  tests/mmm/test_budget_optimizer.py
Labels: bug, MMM, tests, optimizer

#1443 Add WeeklyFourier
  pymc_marketing/constants.py
  pymc_marketing/mmm/__init__.py
  pymc_marketing/mmm/fourier.py
  tests/mmm/test_fourier.py
Labels: MMM, tests, model components

#1446 Update comparison.md
  docs/source/guide/mmm/comparison.md
Labels: docs

#1447 Use ModelBuilder for multidimensional MMM
  pymc_marketing/mmm/multidimensional.py
  tests/conftest.py
  tests/mmm/test_multidimensional.py
Labels: docs, MMM, tests

#1449 Fix minor latex rendering issue
  pymc_marketing/mmm/transformers.py
Labels: MMM
