Repository pymc-labs/pymc-marketing, pull requests merged in 2025-08, with the labels that each got.

#1878 Update MMM comparison table
  docs/source/guide/mmm/comparison.md
Labels: docs

#1879 Allow Lists and NumPy Arrays as Transformation Priors
  pymc_marketing/mmm/components/base.py
  tests/mmm/components/test_base.py
Labels: enhancement, MMM, tests

#1881 Support HSGP instance for time_varying_media in MMM
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: enhancement, MMM, tests, TVPs

#1882 Add causal graph support to MMM with DAG serialization
  pymc_marketing/mmm/multidimensional.py
  tests/mmm/test_multidimensional.py
Labels: MMM, tests

#1898 Fourier transformation and HSGPs for streamlit app
  streamlit/mmm-explainer/README.md
  streamlit/mmm-explainer/pages/Fourier_Seasonality.py
  streamlit/mmm-explainer/pages/Time_Varying_Parameters.py
Labels: docs, MMM, streamlit

#1870 Refactor `ModelBuilder` into smaller classes
  pymc_marketing/clv/models/basic.py
  pymc_marketing/customer_choice/mnl_logit.py
  pymc_marketing/customer_choice/mv_its.py
  pymc_marketing/customer_choice/nested_logit.py
  pymc_marketing/mmm/base.py
  pymc_marketing/mmm/mmm.py
  pymc_marketing/mmm/multidimensional.py
  pymc_marketing/model_builder.py
  tests/clv/models/test_basic.py
  tests/clv/models/test_beta_geo.py
  tests/clv/models/test_pareto_nbd.py
  tests/clv/test_utils.py
  tests/customer_choice/test_nestedlogit.py
  tests/test_model_builder.py
Labels: CLV, MMM, maintenance, tests, priority: high, ModelBuilder, customer choice, model components

#1887 Add Fivetran data loaders
  data/config_files/multi_dimensional_fivetran.yml
  data/fivetran_examples/ad_report_schema.csv
  data/fivetran_examples/shopify_orders_schema.csv
  docs/source/gallery/gallery.md
  docs/source/gallery/images/mmm_fivetran_connectors.png
  docs/source/notebooks/mmm/mmm_fivetran_connectors.ipynb
  pymc_marketing/data/fivetran.py
  tests/data/test_fivetran.py
  tests/mmm/builders/test_yaml.py
Labels: docs, enhancement, MMM, maintenance, tests, API

#1907 Minor convenience to override model_kwargs in build_mmm_from_yaml
  pymc_marketing/mmm/builders/yaml.py
  tests/mmm/builders/test_yaml.py
Labels: MMM, tests

#1909 Fix FourierEffect
  pymc_marketing/mmm/additive_effect.py
  pymc_marketing/mmm/fourier.py
  tests/mmm/test_additive_effect.py
Labels: bug, MMM, tests
